<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>117756435662-onfkpnmoshkroah8ou8t0ckl0b14g4r3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.117756435662-onfkpnmoshkroah8ou8t0ckl0b14g4r3</string>
	<key>API_KEY</key>
	<string>AIzaSyDrvEvqsF7f5FLCMPUFrJcXl937l0W9ZQs</string>
	<key>GCM_SENDER_ID</key>
	<string>117756435662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bronzy.BlackMarket</string>
	<key>PROJECT_ID</key>
	<string>blackmarket-c1a4a</string>
	<key>STORAGE_BUCKET</key>
	<string>blackmarket-c1a4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117756435662:ios:ff6c3d5fa6a42e53e2449f</string>
</dict>
</plist>